/* Star varibales */

/* End varibales */

/* Start gloabal rules */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.patern {
  background-color: #eee;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
/* end gloabal rules  */

/*     <!-- Start Header --> */
.brand {
  position: relative;
  left: 150px;
}

@media screen and (max-width: 570px) {
  .brand {
    position: relative;
    left: 10px;
  }
}

@media screen and(max-width:480px) {
  .brand {
    position: relative;
    left: 10px;
  }
}
/*     <!-- End header -->*/
.color {
  /* background-color: rgba(0, 0, 0, 1); */
  /* background-color: #000000; */
  background-image: linear-gradient(147deg, #000000 0%, #18232e 74%);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Landing */

.landing {
  margin-top: 69px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 657px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-snap-type: y mandatory;

  justify-content: center;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
}

.text h1 {
  position: absolute;
  left: 50;
}

.text p {
  position: absolute;
  top: 62%;
  font-size: large;
}
@media (max-width: 767px) {
  .text p {
    top: 63%;
  }
}
/* End landing */

/* Defintion  */

.paraghraphe {
  color: white;
  margin-top: 80px;
  font-size: x-large;
  font-family: "Titillium Web", sans-serif;
}

/* @media screen and(max-width:767px) {
  .silverhand {
    display: none;
    width: 30px;
    margin-top: 60px;
  }
} */

.silverhand {
  margin-top: 30px;

  margin-left: 50px;
  display: inline-flex;
  position: relative;
  animation: y 1s ease-in-out;
  animation-iteration-count: infinite;
}
@media (max-width: 767px) {
  .silverhand {
    margin-top: 300px;
    width: 150px;
    height: 300px;
  }

  .df-title {
    margin-top: 150px;
    font-family: "Abel", sans-serif;
    text-shadow: rgba(10, 211, 238, 0.95) 1px 0 10px;
    color: white;

    font-family: "Titillium Web", sans-serif;
  }
}

@keyframes y {
  0% {
    bottom: 10px;
  }
  25% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  75% {
    bottom: 10px;
  }
  100% {
    bottom: 10px;
  }
}

/* Defintion  */

/* Start 3d content section  */

.parent {
  height: 500px;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(autofill, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: ce;
  grid-template-areas:
    "ti ti ti ti  ti ti ti img img img "
    ". pa pa pa pa pa pa img img img "
    ". . . c4d ble ds  maya.     .  .   ";
}

@media (max-width: 992px) {
  .parent .photo {
    display: none;
  }
}

.title {
  grid-area: ti;
  text-align: center;
  font-family: "Abel", sans-serif;
  margin-left: 350px;
  margin-top: 30px;
  text-shadow: rgba(10, 211, 238, 0.637) 1px 0 10px;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parghraphe {
  grid-area: pa;
  font-size: x-large;
  color: white;
  font-family: "Titillium Web", sans-serif;
}
.photo {
  margin-top: 180px;
  grid-area: img;
}

.photo img {
  width: 330px;
  height: 300px;
}
.maya3d {
  grid-area: maya;
}

.dsmax {
  grid-area: ds;
}
.blender {
  grid-area: ble;
}

.c4d {
  grid-area: c4d;
  width: 50px;
  height: 50px;
}

/* ENd 3d */

/* Start code section */
.card-body {
  color: white;
}
.card {
  margin-left: 100px;
}
@media (min-width: 768px) {
  .card {
    margin-left: 20px;
  }
}
.code_section_container {
  margin-top: 50px;
}

.famous {
  font-family: "Abel", sans-serif;
  text-shadow: rgba(10, 211, 238, 0.637) 1px 0 10px;
  color: white;
}
.code_section {
  font-family: "Abel", sans-serif;
  text-shadow: rgba(10, 211, 238, 0.95) 1px 0 10px;
  color: white;
}
/* end code section */

/*  start Yt_ex_sr */

.title_engins {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.title_engins h1 {
  font-family: "Titillium Web", sans-serif;
  text-shadow: rgba(10, 211, 238, 0.637) 1px 0 10px;
  color: white;
}
.engin_name {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  text-shadow: rgba(10, 211, 238, 0.637) 1px 0 10px;
  color: white;
}

.container_3 {
  width: auto;
  margin: 20px auto;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media (min-width: 768px) {
  .container_3 {
    width: 1100px;
  }
}

.container_3 img {
  width: 100%;
  transition: 0.3s;
}

.image {
  opacity: 0.8;
}
.image:hover {
  opacity: 1;
}
.image2 {
  opacity: 0.5;
}
.image2:hover {
  opacity: 1;
}

.container_4 {
  margin: 20px auto;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.parghraphe2 {
  color: white;
  margin: 20px auto;
  font-size: x-large;
  font-family: "Titillium Web", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
}

/* Small */
@media (min-width: 767px) {
  .parghraphe2 {
    width: 750px;
  }
}

@media (min-width: 768px) {
  .parghraphe2 {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .parghraphe2 {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .parghraphe2 {
    width: 1170px;
  }
}
/* end engins */
/* footer */
.footer {
  margin-top: 50px;
  background-color: #2a2a2a;
}

.title-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sconthetop {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: rgba(10, 211, 238, 0.637) 1px 0 10px;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
}
.sochial {
  width: 100%;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sochial div {
  background-color: #000000;
  background-image: linear-gradient(315deg, #121252 0%, #01273d 74%);
  width: 150px;
  height: 70px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #0edbf7;
  padding: 10px;
}

.sochial div:hover {
  width: 160px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #54548a 0%, #3eb2f5 74%);
}

.fa-youtube,
.fa-twitter,
.fa-facebook-f,
.fa-discord {
  padding: 10px;
  color: #0edbf7;
}

.cont_r {
  background-color: white;

  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.paragraphe_r {
  background-color: #0037b4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sc_r {
  color: blue;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: rgba(10, 211, 238, 0.637) 1px 0 10px;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
}

/* end footer */
